// 頁面(瀏覽器)與物件的間距:外間距--上下為0，左右自動;內間距上下左右為0;設定在 * 總管
* {
  // 外間距--上下為0。左右自動 margin
  margin: 0 auto;
  // 內間距上下左右為0  padding
  padding: 0;
}
// 圖片等比控制
image {
  // 寬度為100%  高度自動
  width: 100%;
  height: auto;
}

$w10: 10%;
