header {
    // 寬度100%
    width: $w10 * 10;
    background-color: rgb(173, 176, 219);
    /*
    大平板裝置的 icon 與btnbox 取消 「隱藏模式」，但無法讀取。因為媒體判斷順序是由 小尺寸語法至大尺寸，故大尺寸沒有下違任何語法時，會直接判讀至小尺寸
    */

    nav {
        // 彈性佈局 flax :對齊物件的父框架
        // 顯示方式 : 彈性佈局
        display: flax;
        // 換行
        flex-wrap: wrap;

        // logo寬度+icon寬度= 總寬度 100vw (100%)
        #logo {
            width: $w10 * 7;
        }
        #icon {
            //   開啟隱藏物件
            @include ob;
            width: $w10 * 3;
            // 隱藏項目符號
            @include DNli;

            // 彈性佈局
            display: flex;
        }
        .btnbox {
            //   開啟隱藏物件
            @include ob;
            width: $w10 * 10;
            // 隱藏項目符號
            @include DNli;
            // 彈性佈局
            display: flex;

            // 隱藏 第二層選單
            ul {
                display: none;
            }
        }

        #menubtn {
            @include DN;
        }
    }
}

footer {
    address {
        //呼叫混合函式
        @include DN;
    }
}
