// 呼叫html 標籤 ，例如:nav，稱作 類型選擇
//呼叫 Id ，例如 <li id="text"></li> ，id="text" ， 「#」 id選擇器 ; #text
// 呼叫class ，class="text1" ，  .類別選擇器 ; .text
// SCSS 1.巢狀寫法 2.變數 $yourname(設定計算用的基礎) 3.繼承% yourname (css語法相同，但能集中呈現)

// 傳統css3 的寫法 隱藏
// header {
//   width: 100%;
// }
// address,
// #btnbox,
// .icon {
//   display: none;
// }
// #menubtn {
//   background-color: burlywood;
// }

//目前使用的單位 (數位) 是百分比(%) ; 網頁固定單位--像素px

header {
    // 寬度100%
    width: $w10 * 10;

    background-color: rgb(253, 0, 0);
    nav {
        /*
    浮動對齊的問題float
    1. .btnbox 與 #icon 物件的父框架 nav ，無寬度
    2. nav 的父框架 header ，高度消失(展開)
    解決方式
    1. nav 的父框架 header ，給予高度: 或是nav 給予高度 
    2.清除浮動狀態，由nav 設定
    */

        width: $w10 * 10;
        // 設定高度 單位% (未給予基準值，所以無法計算出實際高度)
        // vh (螢幕可視範圍高度的百分比，計算出實際高度; 依照裝置高度計算)
        height: 10vh;
        background-color: rgb(173, 255, 20);

        // 解決方法一: 給予高度; 二擇一，寫入 header或是nav
        // 解決方式二: 清除浮動框架，由nav 設定 (寫在第53行)
        // 靠左排列(與menubtn排列)

        // 單位不同無法計算，所以將原本5%，改成同一單位 vw
        // 引入的程式，執行結果為 logo 與 btnbox 的寬度，所以要寫在父框架(nav)
        @include LBW(8, 5vw);

        #logo {
            // 寬度 % 或 vw（螢幕可式範圍寬度的百分比）
            // width: $W10 * 8 + 5%;

            // 浮點對齊法: 靠左對齊 float:left
            float: left;

            background-color: aqua;
        }
        #icon {
            // 呼叫混合函式
            @include DN;
        }

        .btnbox {
            // 呼叫混合函式
            @include DN;
        }

        // 靠左排列(與logo排列)
        #menubtn {
            // 浮點對齊法: 靠左對齊 float:left
            float: left;
            width: $w10 * 1+5vw;
        }
        .clear {
            @include clearfloat;
        }
    }
}

footer {
    address {
        //呼叫混合模式
        @include DN;
    }
}
