#main {
    background-color: burlywood;

    #banner {
        width: $w10 * 10;
        // 定位點，相對定位
        position: relative;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        $imgpadding: 385px;
        // 父框架的padding 335px - 子框架的padding 250px = 相差值 $differ 85
        $differ: 90px;

        .btn {
            width: 20px;
            height: 95px;
            // 水平置中
            text-align: center;
            // 垂直置中 高度 = 行距
            line-height: 95px;
            font-size: $trem * 1.2;
            // 定位點
            position: absolute;
            // 移動階層(圖層)
            z-index: 5;
            // 左右按鈕，物件往下推算高度: (物件的父框架的高/2)-(按鈕高度/2)+單位
            top: ($imgpadding / 2) - (95 / 2);
            @include rounded(15);
        }
        .leftbtn {
            left: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }
        .rightbtn {
            // 方向 右邊為0(物件靠右對齊) ; float 浮動對齊，配合 上下左右 方向推動
            right: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }
        #imbox {
            width: $w10 * 10;
            @include DNli;
            // 內間距設定 下方間距，當成圖片的高度，單位為 % or vh
            padding-bottom: $imgpadding;
            background-color: rgb(115, 170, 110);
            li {
                width: $w10 * 10;
                float: left;
                // 定位點 絕對定位:1.單獨呼叫時，原點(0,0)會位於畫面(可視範圍)的左上角
                // 2.物件的父框架呼叫 相對定位(position: absolute)時，功能設定「重新定位原點至父框架」
                position: absolute;
                // 移動圖片位置;因為不同手機有不同的中心位置，無法逐一計算，所以要利用背景圖片的方式修改
                // margin-left: -330px;
                font-size: 72px;
                text-align: center;
                // 內間距設定 下方間距，當成圖片的高度，單位為 % or vh (會隨著裝置而改變) 800px*0.26=208px ;固定值 px
                // 子框架的padding = 父框架的padding - 相差值 $differ
                padding-bottom: $imgpadding - $differ;
            }
            .item01 {
                @include BPhoto(center, cover, banner, "005.jpg");
            }
            .item02 {
                // 英文字和數字前，數字被判讀為「文字」; 數字在英文字底線 ( _ )前，數字被為數字， 「0」為開頭 ，scss會自動刪除
                // 數字要變為文字，需轉換為「字串」，字串用雙引號包覆

                @include BPhoto(center, cover, banner, "004.jpg");
            }
            .item03 {
                @include BPhoto(center, cover, banner, "003.jpg");
            }
            .item04 {
                @include BPhoto(center, cover, banner, "002.jpg");
            }
            .item05 {
                @include BPhoto(center, cover, banner, "001.jpg");
            }
        }
    }
}
